<div class="title">
    <h1 class="title__content">My Tasks</h1>
    <div class="title__back">
        <a [routerLink]="main" class="title__btn">
            <img class="title__img" src="../../../../assets/shared/back.png" 
                srcset="../../../../assets/shared/back.png"/>
        </a>
        <span class="title__back__content">Back</span>
    </div>
</div>

<!--Task Form-->
<div class="form">
    <create-task (onChange)="onChange()"></create-task>
</div>

<!--Task List-->
<ng-container *ngIf="tasks$ | async as tasks">
    <div *ngFor="let task of tasks">
        <task-object class="task" [task]="task" 
            (onChange)="onChange()"></task-object>
    </div>
</ng-container>